{% set nb = 0 %}
{% if list is empty %}
    <h1>Tableau vide</h1>
{% else %}
    <ul>
        {% for coach in list %}
        
            <li>
                <a href="{{ path('app_coash') }}">
                    <strong>ID:</strong> {{ coach.id }}<br>
                    {# <strong>Picture:</strong> <img src="{{ asset(author.picture) }}" alt="{{ author.username }}'s picture" width="100" height="100"><br> #}
                    <strong>cin:</strong> {{ coach.cin }}<br>
                    <strong>dateInscription:</strong> {{ coach.dateInscription }}<br>
                    <strong>Specialite:</strong> {{ coach.Specialite }}<br>
                </a>
                <!-- Formulaire de suppression -->
                <form method="post" action="{{ path('app_author_delete', { id: coach.id }) }}" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet auteur ?');">Supprimer</button>
                </form>
            </li>
            <hr> <!-- Adds a line between each author for better separation -->
        {% endfor %}
    </ul>
{% endif %}


